body {
  margin: 0;
  padding: 0px;
  background-color: rgb(179, 173, 173);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  /* remember to set a width */
  margin: 0 auto;
  margin-top: 0px;
}
.bg {
  /* The image used */
  /* background-image: url("./back1.jpg"); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.curlyUnderline {
  border-bottom: 2px dotted #ff0000;
  padding: 0px;
}
.curlyUnderlineInner {
  border-bottom: 2px dotted #ff0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-body span {
  position: relative;
}
/* For home page */
.btn-block {
  display: block;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
}

.btn-block-height {
  display: block;
  width: 3%;
  padding-left: 50%;
  padding-right: 50%;
}

/* // For Autocomplete */
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid rgb(26, 119, 8);
  /* border-top-width: 0; */
  list-style: none;
  /* margin-top: 0; */
  max-height: 143px;
  /* overflow-y: auto; */
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  display: inline-block;
  margin-top: 40px;
  margin-left: -84px;
}

.suggestions li {
  padding: 0.5rem;
  background-color: #fae042;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
